<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">One Gorilla</div>
    <div class="list-group list-group-flush">
      <a href="/slides" class="list-group-item list-group-item-action bg-light">Sliders</a>
      <a href="/users" class="list-group-item list-group-item-action bg-light">Mostrar usuarios</a>
      <a href="/users/create" class="list-group-item list-group-item-action bg-light">Crear usuarios</a>
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
